{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <title>User Dashboard</title>
  </head>
  <body>
    <div class="jumbotron">
      <button style="float: right;" class="btn btn-outline-light" type="submit">
        <a href="/userapp/user_profile/">Profile</a>
      </button>
      <br />
      <div class="container">
        <div align="center">
          <h1 class="display-4">JOB Portal</h1>
          <br />
          <a
            class="btn btn-primary btn-lg"
            href="/userapp/it_show/"
            role="button"
            >IT Jobs</a
          >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a
            class="btn btn-secondary btn-lg"
            href="/userapp/mech_show/"
            role="button"
            >Mechanical Jobs</a
          >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a
            class="btn btn-warning btn-lg"
            href="/userapp/civil_show/"
            role="button"
            >Civil Jobs</a
          >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br /><br />
        <div align="center">
          <button class="btn btn-outline-dark" type="submit">
            <a href="/logout/">logout</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
