body {
  background: url('https://i.pinimg.com/originals/e3/dc/81/e3dc8103f04c0d13d2bbfce37b78338d.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  margin-top: 150px;
  background: rgba(205, 205, 205, 0.5);
}
