body {
  background: url('https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-size: cover;
}
.reg-form{
  width: 550px;
  background: linear-gradient(120deg,#55efc4,#00cec9,#74b9ff,#6c5ce7);
  height: 600px;
  padding: 40px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
 .reg-form h1{
   text-align: center;
   margin-top: 10px;
   margin-bottom: 5px;
   color: #e84118;
 }
