body {
  background: url('https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  margin-top: 200px;
  background: rgba(205, 205, 205, 0.5);
}
